<div class="container">
  <section class="about">
    <img class="about-img" src="../../../assets/images/about_book.png" alt="Book">
    <span class="about-title">Здесь ты найдешь свою книгу</span>
  </section>

  <section class="about-description">
    <div class="about-description-title title">Что вы можете здесь найти?</div>
    <div class="about-description-wrapper">
      <div class="about-description-background">
        <div class="about-description-block">
          <span>Данный ресурс представляет собой информационный ресурс для родителей и учеников девятых и одиннадцатых классов. И даже для тех кто не собирается покупать книги самостоятельно, то есть, например, купить одну книгу на двоих, троих или даже на весь класс.</span>
          <span>Здесь вы можете посмотреть информацию о стоимости сборников для подготовки к предстоящим экзаменам.</span>
          <span>Так же можете добавить в корзину все необходимые сборники, для подсчета общей стоимости.</span>
        </div>
      </div>
    </div>
  </section>
</div>

<form-connection-component></form-connection-component>
